/* Action Man Fonts */
@font-face {
    font-family: 'Action Man Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Extended Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Extended_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Extended Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Extended_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Extended Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Extended_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Extended';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Extended.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Shaded Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Shaded_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man Shaded';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man_Shaded.ttf) format('truetype');
}

@font-face {
    font-family: 'Action Man';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Action-Man/Action_Man.ttf) format('truetype');
}

/* Comic Relief */
@font-face {
    font-family: 'Comic Relief';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/comic-relief/ComicRelief.ttf) format('truetype');
}

/* Delius */
@font-face {
    font-family: 'Delius Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/delius/delius-regular.ttf) format('truetype');
}

/* Gloria Hallelujah */
@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/gloria-hallelujah/GloriaHallelujah.ttf) format('truetype');
}

/* Happy Monkey */
@font-face {
    font-family: 'Happy Monkey Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/happy-monkey/HappyMonkey-Regular.ttf) format('truetype');
}

/* Kalam */
@font-face {
    font-family: 'Kalam Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/kalam/Kalam-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Kalam Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/kalam/Kalam-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Kalam Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/kalam/Kalam-Regular.ttf) format('truetype');
}

/* Karatula */
@font-face {
    font-family: 'Karatula Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Karatula/KARAB___.ttf) format('truetype');
}

@font-face {
    font-family: 'Karatula Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Karatula/KARABI__.ttf) format('truetype');
}

@font-face {
    font-family: 'Karatula Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Karatula/KARAI___.ttf) format('truetype');
}

@font-face {
    font-family: 'Karatula';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Karatula/KARAN___.ttf) format('truetype');
}

/* Komika Axis */
@font-face {
    font-family: 'Komika Axis';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Axis/KOMIKAX_.ttf) format('truetype');
}

/* Komika Display */
@font-face {
    font-family: 'Komika Display Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Display/Komika_display_bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Display Kaps Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Display/Komika_display_kaps_bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Display Kaps';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Display/Komika_display_kaps.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Display';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Display/Komika_display.ttf) format('truetype');
}

/* Komika Hand */
@font-face {
    font-family: 'Komika Hand Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Hand/Komika_Hand_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Hand Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Hand/Komika_Hand_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Hand Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Hand/Komika_Hand_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Hand';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Hand/Komika_Hand.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Hand Parch';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Hand/Komika_Parch.ttf) format('truetype');
}

/* Komika Text */
@font-face {
    font-family: 'Komika Text Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Text/KOMTXTBI.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Text Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Komika-Text/KOMTXTB_.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Text Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Text/KOMTXTI_.ttf) format('truetype');
}

@font-face {
    font-family: 'Komika Text';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Komika-Text/KOMTXT__.ttf) format('truetype');
}

/* SF Arch Rival */
@font-face {
    font-family: 'SF Arch Rival Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Extended Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Extended_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Extended Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Extended_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Extended Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Extended_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Extended';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Extended.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Arch Rival';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Arch-Rival/SF_Arch_Rival.ttf) format('truetype');
}

/* SF Cartoonist Hand */
@font-face {
    font-family: 'SF Cartoonist Hand Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Cartoonist Hand Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Cartoonist Hand Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Cartoonist Hand';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Cartoonist-Hand/SF_Cartoonist_Hand.ttf) format('truetype');
}

/* SF Toontime */
@font-face {
    font-family: 'SF Toontime Blotch Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime_Blotch_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Toontime Blotch';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime_Blotch.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Toontime Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Toontime Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Toontime Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Toontime';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Toontime/SF_Toontime.ttf) format('truetype');
}

/* SF Wonder Comic */
@font-face {
    font-family: 'SF Wonder Comic Blotch Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Blotch_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Blotch';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Blotch.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Bold_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Inline Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Inline_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Inline';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Inline.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic_Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'SF Wonder Comic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/SF-Wonder-Comic/SF_Wonder_Comic.ttf) format('truetype');
}

/* VTC Letterer Pro */
@font-face {
    font-family: 'VTC Letterer Pro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/VTC-Letterer-Pro/VTC_letterer_pro.ttf) format('truetype');
}

/* Yew Basturd */
@font-face {
    font-family: 'Yew Basturd Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Yew-Basturd/YEWBB___.ttf) format('truetype');
}

@font-face {
    font-family: 'Yew Basturd Bold Italic';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../assets/fonts/Yew-Basturd/YEWBBI__.ttf) format('truetype');
}

@font-face {
    font-family: 'Yew Basturd Italic';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Yew-Basturd/YEWBI___.ttf) format('truetype');
}

@font-face {
    font-family: 'Yew Basturd';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/fonts/Yew-Basturd/YEWBN___.ttf) format('truetype');
}
